#header-container{
    display: flex;
    flex-direction: row;
    background-color: rgb(18,18,18);
    width: auto;
    height: 4vmax;
    align-items: center;
    color: rgb(255,255,255)
}

#logo-div{
    margin: 2vmax;
}

#logo-div > img{
    height: 2.5vmax;
}

#menu-div{
    margin: 0px 2vmax;
    font-size: 20px;
}

#search-div{
    margin: 0px 2vmax;    
}

#search-div > input{
    height: 2vmax;
    width: 40vmax;
    border-radius: 5px;
    border: none;
    outline: none;
}